<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Workspace - Главная</title>
    <script>
        var init = {{{ data }}};
        console.log(init);
    </script>
</head>
<body>
<div id="app">Загрузка...</div>
<script src="/public/scripts/lib.js"></script>
<script src="/public/scripts/app.js"></script>
</body>
</html>